<div class="css-eovh6h">
  <div class="css-1d90tha">
    <div class="css-dwud4b" style="width: 100%">
      <div class="css-158jbzd">
        <div
          class="swiper-container swiper-container-initialized swiper-container-horizontal"
        >
          <div class="swiper-wrapper">
            <div
              data-cy="adPhotos-swiperSlide"
              class="swiper-slide css-1aiu6cp swiper-slide-active"
            >
              <div class="swiper-zoom-container">
                <img
                  src="https://ireland.apollo.olxcdn.com/v1/files/zzg5rx3vlms91-UA/image;s=1000x700"
                  class="css-1bmvjcs"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="css-1wws9er">
        <div class="css-sg1fy9">
          <h1 data-cy="ad_title" class="css-r9zjja-Text eu5v0x0">
            Intel I7 6700, Radeon Rx 570 4gb 256bit, Ssd, Компьютер, пк, pc
          </h1>
        </div>
        <div data-testid="ad-price-container" class="css-dcwlyx">
          <h3 class="css-okktvh-Text eu5v0x0">13 497 грн</h3>
        </div>
        <ul class="css-sfcl1s">
          <div data-testid="courier-btn" class="css-x30oa2-Text eu5v0x0">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="css-1tq7vpq"
            >
              <path
                d="M21 15.999h-.343A3.501 3.501 0 0017.5 14a3.501 3.501 0 00-3.156 1.997l-4.687.002A3.5 3.5 0 006.5 14a3.5 3.5 0 00-3.158 2L3 16.002V5h11v6l1 1h6v3.999zM17.5 19c-.827 0-1.5-.673-1.5-1.5s.673-1.5 1.5-1.5 1.5.673 1.5 1.5-.673 1.5-1.5 1.5zm-11 0c-.827 0-1.5-.673-1.5-1.5S5.673 16 6.5 16s1.5.673 1.5 1.5S7.327 19 6.5 19zm12-12l2.25 3H16V7h2.5zm1-2H16V4l-1-1H2L1 4v13.002l1.001 1 1.039-.001A3.503 3.503 0 006.5 21a3.502 3.502 0 003.46-3l4.08-.003A3.503 3.503 0 0017.5 21a3.502 3.502 0 003.46-3.001H22l1-1V9.665L19.5 5z"
                fill="currentColor"
                fill-rule="evenodd"
              ></path>
            </svg>
            OLX Доставка
          </div>
          <div class="css-5qknwn"></div>
        </ul>
        <div
          id="baxter-parameters"
          class="css-166h9b3"
          data-testid="qa-advert-slot"
          style="display: none; margin-top: 16px"
        ></div>
        <div data-cy="ad_description" class="css-1m8mzwg">
          <h3 class="css-1c6srd9-Text eu5v0x0">Опис</h3>
          <pre class="css-g5mtbi-Text">
Гарантия на весь комплект 6 месяцев.

Обменять на Ваш компьютер

Процессор - INTEL i7 6700 (хеон версия)
Материнская плата - Asrock H310, s1151
Видеокарта - Radeon RX 570 4gb 256bit
Оперативная память - 8Gb DDR4 (16gb +800грн)
Ssd диск 120gb
Винчестер - 500 Gb SATAIII 7200
Новый блок питания - 500Вт
Кулер башня
Корпус Новый с RGB подсветкой

Доп опции:
-Монитор 22 дюйма 2000грн
-Монитор 24дюйма 3000грн
-Игровая клавиатура и мышка с подсветкой от 500грн
-WIFI антена 200грн
-Набор игр (GTA 5, CS-GO, World of Tanks, Dota, Warface)
-Загрузочная флешка с Windows и программами 32gb

На Full HD разрешении Высокие настройки.
CSGO- 180-220fps.
GTA 5- 80-100fps
Танки 150-200fps
Dota 2- 90-100fps
Metro Exodus 40-50fps

Адрес офиса:
Европейская 4 (Центр)
График работы Пн-Вс с 10:00 -19:00</pre
          >
        </div>
        <div class="css-cgp8kk">
          <div data-cy="ad-footer-bar-section" class="css-1ferwkx"></div>
        </div>
      </div>
    </div>
    <div class="css-eahd7t">
      <div data-cy="seller_card" class="css-1wws9er">
        <p class="css-1ojxjjx-Text eu5v0x0">Користувач</p>
        <section class="css-ecq9m8">
          <div class="css-xsk3xm">
            <div class="css-10dzuma">
              <div class="qa-hasPhoto css-t0lbh8">
                <div size="72" class="css-d335i">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="1em"
                    height="1em"
                    viewBox="0 0 71 71"
                    data-testid="user-photo-placeholder"
                    alt="User avatar"
                    class="css-19n0das"
                  >
                    <defs>
                      <path
                        id="avatar_svg__a"
                        d="M.029 34.9c0 19.272 15.623 34.896 34.896 34.896 19.273 0 34.896-15.624 34.896-34.897C69.821 15.627 54.198.003 34.925.003 15.652.003.03 15.627.03 34.9"
                      ></path>
                      <path
                        id="avatar_svg__c"
                        d="M0 34.99c0 19.272 15.624 34.896 34.896 34.896 19.273 0 34.896-15.624 34.896-34.896C69.792 15.717 54.17.094 34.896.094 15.624.094 0 15.717 0 34.99z"
                      ></path>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                      <g transform="translate(.903 .903)">
                        <mask id="avatar_svg__b" fill="#fff">
                          <use xlink:href="#avatar_svg__a"></use>
                        </mask>
                        <path
                          fill="#3A77FF"
                          d="M69.821 34.9c0 19.272-15.623 34.896-34.896 34.896C15.652 69.796.03 54.172.03 34.899.029 15.627 15.652.003 34.925.003c19.273 0 34.896 15.624 34.896 34.896"
                          mask="url(#avatar_svg__b)"
                        ></path>
                      </g>
                      <g transform="translate(.932 .906)">
                        <mask id="avatar_svg__d" fill="#fff">
                          <use xlink:href="#avatar_svg__c"></use>
                        </mask>
                        <use fill="#D8DFE0" xlink:href="#avatar_svg__c"></use>
                        <path
                          fill="#406367"
                          d="M10.788 98.23h48.216V50.013H10.788z"
                          mask="url(#avatar_svg__d)"
                        ></path>
                        <path
                          fill="#EBEEEF"
                          d="M53.436 34.896c0 10.24-8.3 18.54-18.54 18.54-10.239 0-18.54-8.3-18.54-18.54 0-10.239 8.301-18.54 18.54-18.54 10.24 0 18.54 8.301 18.54 18.54"
                          mask="url(#avatar_svg__d)"
                        ></path>
                        <path
                          fill="#7F9799"
                          d="M44.812 27.96c-3.975 5.115-11.344 6.04-16.46 2.065-5.115-3.975-6.04-11.344-2.065-16.46 3.975-5.115 11.344-6.04 16.46-2.065 5.116 3.975 6.04 11.344 2.065 16.46"
                          mask="url(#avatar_svg__d)"
                        ></path>
                        <path
                          fill="#7F9799"
                          d="M44.547 28.301l-9.604-7.462 7.463-9.604 9.603 7.462zm-30.922-1.955a7.617 7.617 0 1115.115-1.897 7.617 7.617 0 01-15.115 1.897"
                          mask="url(#avatar_svg__d)"
                        ></path>
                        <path
                          fill="#7F9799"
                          d="M13.59 26.067l7.836-.983.983 7.836-7.836.983z"
                          mask="url(#avatar_svg__d)"
                        ></path>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            <div style="display: flex; align-items: center">
              <h2 class="css-u8mbra-Text eu5v0x0">Кротова</h2>
            </div>
          </div>
        </section>
        <div class="css-1jm99nj">
          <div class="css-16ehm7c">
            <img
              src="https://svgur.com/i/hih.svg"
              label="SUPER"
              data-testid="listing-seller-rating-score-buckets"
              class="css-17qfquj"
            />
            <div
              data-testid="listing-seller-rating-sentiment"
              class="css-9lron0"
            >
              <span>Відмінно:</span>
              <span>Цей автор отримав багато відмінних відгуків</span>
            </div>
          </div>
          <div class="css-nlmq03">
            <span class="css-1d72umt">
              <a
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://help.olx.ua/hc/uk/articles/360012444499"
                data-testid="learn-more"
                class="css-1q4x5zi-BaseStyles"
              >
                <span class="css-1ohf0ui">
                  <span>
                    <p class="css-xl6fe0-Text eu5v0x0">Що таке рейтинг?</p>
                  </span>
                  <i class="css-19ahzh2"></i>
                </span>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="css-51ijd0">
        <div class="css-1fdtauq" style="">
          <p class="css-1mgqxk4-Text eu5v0x0">Дані покупця</p>
          <div class="sellrinfo">
            <div class="css-src5a">
              <p class="css-xl6fe0-Text eu5v0x0" style="font-size: 16px">
                <span class="css-1y9z1wr">ПІБ:</span>
                <span>Кротова Катерина Сергіївна </span>
              </p>
            </div>
            <div class="css-src5a">
              <p class="css-xl6fe0-Text eu5v0x0" style="font-size: 16px">
                <span class="css-1y9z1wr">Номер телефону:</span>
                <span>+380&nbsp;98&nbsp;089&nbsp;4268</span>
              </p>
            </div>
            <div class="css-src5a" style="margin-bottom: 0">
              <p class="css-xl6fe0-Text eu5v0x0" style="font-size: 16px">
                <span class="css-1y9z1wr">Адреса:</span>
                <span>Відділ нової пошти №4</span>
              </p>
            </div>
          </div>
          <form action="/card/196551613" method="get">
            <button class="css-1814ix4-BaseStyles" type="button" routerLink="/pay">
              Отримати кошти
            </button>
          </form>

          <div class="css-14c5xr0">
            <p class="css-1mgqxk4-Text eu5v0x0">Спосіб доставки</p>
            <div class="css-src5a">
              <p class="css-xl6fe0-Text eu5v0x0">
                <span class="css-1y9z1wr">Курьер до будинку</span>
                -
                <span>безкоштовно</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="css-1wws9er" style="margin-bottom: 0px">
        <p class="css-1ojxjjx-Text eu5v0x0">Місцезнаходження</p>
        <div class="css-1q7h1ph">
          <section class="css-1tgtvwl">
            <div class="css-1nrl4q4">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                class="css-14718g3"
              >
                <path
                  d="M12 2c4.963 0 9 4.037 9 9 0 4.701-5.034 9.195-7.328 11h-3.344C8.035 20.195 3 15.701 3 11c0-4.963 4.037-9 9-9zm0 2c-3.86 0-7 3.14-7 7 0 3.75 4.614 7.981 6.995 9.764C13.749 19.434 19 15.108 19 11c0-3.86-3.14-7-7-7zm0 3c2.206 0 4 1.794 4 4 0 2.205-1.794 4-4 4-2.205 0-4-1.795-4-4 0-2.206 1.795-4 4-4zm0 2c-1.103 0-2 .897-2 2s.897 2 2 2 2-.897 2-2-.897-2-2-2z"
                  fill="currentColor"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <div>
                <p class="css-7xdcwc-Text eu5v0x0">
                  Відділ нової пошти №4<span class="css-1c0ed4l"></span>
                </p>
              </div>
            </div>
            <div data-testid="qa-map-overlay-hidden"></div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
