<header class="app-header css-uvzgxd">
  <div class="css-1u6y1sg">
    <a href="#">
      <span class="css-1kpgv52">
        <span class="css-13kyx88"></span>
        <span class="css-1oqfnes"></span>
        <span class="css-1el8pki"></span>
      </span>
    </a>
    <div class="css-1povu0j">
      <a
        class="css-1q6sukh"
        rel="noopener noreferrer nofollow"
        target="_blank"
        href="https://www.olx.ua/account/"
      >
        <div class="css-t0lbh8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="1em"
            height="1em"
            class="css-1706hk8"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M11 4.01c-3.86 0-7 3.157-7 7.038v8.426l2.553-1.283.447-.106h6c3.86 0 7-3.157 7-7.037S16.86 4.01 13 4.01h-2zM3.447 22L2 21.1V11.049C2 6.058 6.037 2 11 2h2c4.962 0 9 4.059 9 9.048s-4.038 9.047-9 9.047H7.236L3.448 22z"
            ></path>
          </svg>
        </div>
        <span class="css-1hinoq6">Повідомлення</span>
      </a>
      <div color="white" class="css-zs6l2q">
        <a
          rel="noopener noreferrer nofollow"
          target="_blank"
          href="https://www.olx.ua/uk/account/"
          data-cy="myolx-link"
          class="css-12l1k7f"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="1em"
            height="1em"
            class="css-5w9jln"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M12 12c4.963 0 9 4.038 9 9l-1 1H4l-1-1c0-4.962 4.037-9 9-9zm0 2c-3.52 0-6.442 2.613-6.929 6H18.93c-.487-3.387-3.409-6-6.93-6zm0-12c2.481 0 4.5 2.019 4.5 4.5 0 2.482-2.019 4.5-4.5 4.5a4.505 4.505 0 01-4.5-4.5C7.5 4.019 9.519 2 12 2zm0 2a2.503 2.503 0 00-2.5 2.5C9.5 7.878 10.621 9 12 9s2.5-1.122 2.5-2.5S13.379 4 12 4z"
            ></path>
          </svg>
          Мій профіль
        </a>
      </div>
      <a
        href="https://www.olx.ua/account/"
        rel="noopener noreferrer nofollow"
        target="_blank"
        data-cy="post-new-ad-button"
        class="css-ze9aqe-BaseStyles"
      >
        Додати оголошення
      </a>
    </div>
  </div>
</header>

<div class="main">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="css-nxqj9k">
    <div class="css-1mzzuk6">
      <ul class="css-12bpg3w">
        <li>
          <a
            href="https://www.olx.ua/mobileapps"
            title="Мобильные приложения"
            target="_self"
            >Мобильные приложения</a
          >
        </li>
        <li>
          <a
            href="https://help.olx.ua/hc/ru"
            title="Помощь и Обратная связь"
            target="_self"
            >Помощь и Обратная связь</a
          >
        </li>
        <li>
          <a
            href="https://www.olx.ua/payment/features/"
            title="Платные услуги"
            target="_self"
            >Платные услуги</a
          >
        </li>
        <li>
          <a
            href="https://business.olx.ua/ru"
            title="Бизнес на OLX"
            target="_self"
            >Бизнес на OLX</a
          >
        </li>
        <li>
          <a href="https://blog.olx.ua/" title="Блог OLX" target="_blank"
            >Блог OLX</a
          >
        </li>
        <li>
          <a
            href="https://help.olx.ua/hc/ru/categories/360000004419-%D0%9F%D1%80%D0%B0%D0%B2%D0%BE%D0%B2%D0%B0%D1%8F-%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D1%8F-%D0%B8-%D0%9F%D1%80%D0%B8%D0%B2%D0%B0%D1%82%D0%BD%D0%BE%D1%81%D1%82%D1%8C"
            title="Условия использования"
            target="_blank"
            >Условия использования</a
          >
        </li>
        <li>
          <a
            href="https://help.olx.ua/hc/ru/articles/360000012560"
            title="Политика конфиденциальности"
            target="_blank"
            >Политика конфиденциальности</a
          >
        </li>
        <li>
          <a
            href="https://blog.olx.ua/o-nas/reklama-na-olx-ua/"
            title="Реклама на сайте"
            target="_blank"
            >Реклама на сайте</a
          >
        </li>
        <li>
          <a
            href="https://blog.olx.ua/o-nas/dlya-pressyi"
            title="Для прессы"
            target="_blank"
            >Для прессы</a
          >
        </li>
      </ul>
      <ul class="css-12bpg3w">
        <li>
          <a
            href="https://www.olx.ua/howitworks"
            title="Как продавать и покупать?"
            target="_self"
            >Как продавать и покупать?</a
          >
        </li>
        <li>
          <a
            href="https://safety.olx.ua/"
            title="Правила безопасности"
            target="_blank"
            >Правила безопасности</a
          >
        </li>
        <li>
          <a
            href="https://www.olx.ua/sitemap"
            title="Карта сайта"
            target="_self"
            >Карта сайта</a
          >
        </li>
        <li>
          <a
            href="https://www.olx.ua/sitemap/regions"
            title="Карта регионов"
            target="_self"
            >Карта регионов</a
          >
        </li>
        <li>
          <a href="/d/popular" title="Популярные запросы" target="_self"
            >Популярные запросы</a
          >
        </li>
        <li>
          <a
            href="https://www.olxgroup.com/careers"
            title="Работа в OLX"
            target="_blank"
            >Работа в OLX</a
          >
        </li>
      </ul>
      <div class="css-1efdvzd" data-cy="app-store-links">
        <ul class="css-10logx6">
          <li class="css-a3psck">
            <a
              href="https://play.google.com/store/apps/details?id=ua.slando&amp;referrer=utm_source%3Dolx.ua%26utm_medium%3Dcpc%26utm_campaign%3Dandroid-app-footer"
              target="_blank"
              rel="noopener noreferrer"
              data-testid="google"
              ><img
                src="https://www.olx.ua/app/static/media/google_play.d95752362.svg"
                alt="Google Play"
                class="css-1cho7tv"
            /></a>
          </li>
          <li class="css-a3psck">
            <a
              href="https://itunes.apple.com/ua/app/slando.ua-besplatnye-ob-avlenia/id663217552?l=pl&amp;ls=1&amp;mt=8"
              target="_blank"
              rel="noopener noreferrer"
              data-testid="apple"
              ><img
                src="https://www.olx.ua/app/static/media/app_store.53e2154cd.svg"
                alt="App Store"
                class="css-1cho7tv"
            /></a>
          </li>
        </ul>
        <p class="css-erlzry">Бесплатное приложение для твоего телефона</p>
      </div>
    </div>
    <div class="css-1bfzjjr">
      <div data-testid="partner-logos-strip" class="css-1mzzuk6">
        <a href="https://olx.bg" target="_blank" class="css-l8frcb"
          ><span class="css-9925ty"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="css-d7r8uj"
            >
              <defs>
                <filter
                  id="bulgariaFlag_svg__a"
                  width="150%"
                  height="172.7%"
                  x="-25%"
                  y="-36.4%"
                  filterUnits="objectBoundingBox"
                >
                  <feOffset
                    dy="1"
                    in="SourceAlpha"
                    result="shadowOffsetOuter1"
                  ></feOffset>
                  <feGaussianBlur
                    in="shadowOffsetOuter1"
                    result="shadowBlurOuter1"
                    stdDeviation="0.5"
                  ></feGaussianBlur>
                  <feColorMatrix
                    in="shadowBlurOuter1"
                    result="shadowMatrixOuter1"
                    values="0 0 0 0 0.407843137 0 0 0 0 0.407843137 0 0 0 0 0.407843137 0 0 0 0.3 0"
                  ></feColorMatrix>
                  <feMerge>
                    <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                    <feMergeNode in="SourceGraphic"></feMergeNode>
                  </feMerge>
                </filter>
              </defs>
              <g
                fill="none"
                fill-rule="evenodd"
                filter="url(#bulgariaFlag_svg__a)"
                transform="translate(0 3)"
              >
                <path fill="#458853" d="M0 .011h16v10.666H0z"></path>
                <path fill="#FFF" d="M0 .011h16v3.555H0z"></path>
                <path fill="#E42828" d="M0 7.122h16v3.555H0z"></path>
              </g></svg></span
          ><span class="css-15doicg">OLX.bg</span></a
        ><a href="https://olx.pl" target="_blank" class="css-l8frcb"
          ><span class="css-9925ty"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="css-d7r8uj"
            >
              <defs>
                <filter
                  id="polandFlag_svg__a"
                  width="137.5%"
                  height="154.5%"
                  x="-18.8%"
                  y="-27.3%"
                  filterUnits="objectBoundingBox"
                >
                  <feMorphology
                    in="SourceAlpha"
                    operator="dilate"
                    radius="0.5"
                    result="shadowSpreadOuter1"
                  ></feMorphology>
                  <feOffset
                    in="shadowSpreadOuter1"
                    result="shadowOffsetOuter1"
                  ></feOffset>
                  <feGaussianBlur
                    in="shadowOffsetOuter1"
                    result="shadowBlurOuter1"
                    stdDeviation="0.5"
                  ></feGaussianBlur>
                  <feColorMatrix
                    in="shadowBlurOuter1"
                    values="0 0 0 0 0.304772418 0 0 0 0 0.304772418 0 0 0 0 0.304772418 0 0 0 0.169826267 0"
                  ></feColorMatrix>
                </filter>
                <path id="polandFlag_svg__b" d="M0 3h16v11H0z"></path>
              </defs>
              <g fill="none" fill-rule="evenodd">
                <use
                  fill="#000"
                  filter="url(#polandFlag_svg__a)"
                  xlink:href="#polandFlag_svg__b"
                ></use>
                <use fill="#DF1111" xlink:href="#polandFlag_svg__b"></use>
                <path fill="#FFF" d="M0 3h16v6H0z"></path>
              </g></svg></span
          ><span class="css-15doicg">OLX.pl</span></a
        ><a href="https://olx.ro" target="_blank" class="css-l8frcb"
          ><span class="css-9925ty"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="css-d7r8uj"
            >
              <defs>
                <filter
                  id="romaniaFlag_svg__a"
                  width="150%"
                  height="172.7%"
                  x="-25%"
                  y="-36.4%"
                  filterUnits="objectBoundingBox"
                >
                  <feOffset
                    dy="1"
                    in="SourceAlpha"
                    result="shadowOffsetOuter1"
                  ></feOffset>
                  <feGaussianBlur
                    in="shadowOffsetOuter1"
                    result="shadowBlurOuter1"
                    stdDeviation="0.5"
                  ></feGaussianBlur>
                  <feColorMatrix
                    in="shadowBlurOuter1"
                    result="shadowMatrixOuter1"
                    values="0 0 0 0 0.407523777 0 0 0 0 0.407523777 0 0 0 0 0.407523777 0 0 0 0.304113855 0"
                  ></feColorMatrix>
                  <feMerge>
                    <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                    <feMergeNode in="SourceGraphic"></feMergeNode>
                  </feMerge>
                </filter>
              </defs>
              <g
                fill="none"
                fill-rule="evenodd"
                filter="url(#romaniaFlag_svg__a)"
                transform="translate(0 3)"
              >
                <path fill="#FCDD0E" d="M0 .01h16v10.666H0z"></path>
                <path fill="#040677" d="M0 .01h5.333v10.667H0z"></path>
                <path fill="#EC0B0B" d="M10.667.01H16v10.667h-5.333z"></path>
              </g></svg></span
          ><span class="css-15doicg">OLX.ro</span></a
        ><a href="https://olx.pt" target="_blank" class="css-l8frcb"
          ><span class="css-9925ty"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="css-d7r8uj"
            >
              <defs>
                <filter
                  id="portugalFlag_svg__a"
                  width="150%"
                  height="172.7%"
                  x="-25%"
                  y="-36.4%"
                  filterUnits="objectBoundingBox"
                >
                  <feOffset
                    dy="1"
                    in="SourceAlpha"
                    result="shadowOffsetOuter1"
                  ></feOffset>
                  <feGaussianBlur
                    in="shadowOffsetOuter1"
                    result="shadowBlurOuter1"
                    stdDeviation="0.5"
                  ></feGaussianBlur>
                  <feColorMatrix
                    in="shadowBlurOuter1"
                    result="shadowMatrixOuter1"
                    values="0 0 0 0 0.407843137 0 0 0 0 0.407843137 0 0 0 0 0.407843137 0 0 0 0.3 0"
                  ></feColorMatrix>
                  <feMerge>
                    <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                    <feMergeNode in="SourceGraphic"></feMergeNode>
                  </feMerge>
                </filter>
              </defs>
              <g
                fill="none"
                fill-rule="evenodd"
                filter="url(#portugalFlag_svg__a)"
                transform="translate(0 3)"
              >
                <path fill="#F71111" d="M0 .011h16v10.666H0z"></path>
                <path fill="#288703" d="M6.145.011v10.666H0V.011z"></path>
                <circle cx="6.145" cy="5.344" r="2" fill="#F8D80C"></circle>
                <path
                  fill="#F71111"
                  d="M5.02 4.344v1.25a1.125 1.125 0 0 0 2.25 0v-1.25H5.02z"
                ></path>
                <path
                  fill="#F0F0F0"
                  fill-rule="nonzero"
                  d="M6.145 5.969a.375.375 0 0 1-.375-.375v-.5h.75v.5a.375.375 0 0 1-.375.375z"
                ></path>
              </g></svg></span
          ><span class="css-15doicg">OLX.pt</span></a
        >
      </div>
    </div>
  </div>
</footer>
